# Este es un archivo de ejemplo. Copia este archivo a .env y rellena los valores.

# URL de conexión para la base de datos de Prisma
# Para SQLite, apunta a un archivo en el disco.
DATABASE_URL="file:./prisma/dev.db"
